<app-home></app-home>
<div class="mx-5">
    <h3 class="mt-5 mb-3">Reservation List</h3>
    <ng-template #noReservations >
        <h2>You don't have any reservations!</h2>
    </ng-template>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Check-In</th>
                <th scope="col">Check-Out</th>
                <th scope="col">Guest Name</th>
                <th scope="col">Guest Email</th>
                <th scope="col">Room Number</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody scope="row" *ngIf="reservations.length; else noReservations">
            <tr *ngFor="let reservation of reservations">
                <td>{{reservation.checkInDate}}</td>
                <td>{{reservation.checkOutDate}}</td>
                <td>{{reservation.guestName}}</td>
                <td>{{reservation.guestEmail}}</td>
                <td>{{reservation.roomNumber}}</td>
                <td>
                    <button class="btn btn-sm btn-danger mx-1" (click)="deleteReservation(reservation.id)">Delete</button>
                    <button class="btn btn-sm btn-secondary mx-2" [routerLink]="['/edit', reservation.id]">Edit</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
